

    <a class="item">
    Chatroom
  </a>
  <a class="item">
    Messages
  </a>
  <div class="right menu">
  <div class="ui simple dropdown item">
   Account
   <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">Log out</div>
      <div class="item">Log in</div>
      <div class="item">Sign up</div>
    </div>
  </div>
</div>
    </div>
    <div class="item">
        <div class="ui primary button">Sign Up</div>
    </div>
    </div>
